<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
</head>

<body>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <div class="container">
    <header class="jumbotron">
      This is <%=shop%>
    </header>

    <form action="/add_item" method="Post">
      <input type="hidden" name="name" value=<%=name%> />
      <input type="hidden" name="phone" value=<%=phone%> />
      <input type="hidden" name="shop" value=<%=shop%> />
      <input type="text" name="item_name" placeholder="Enter The Ttem to add" /><br>
      <input type="number" name="price" placeholder="Enter the price" />
      <input type="Submit" value="Add Item" />

    </form>

    <div class="row" style="display:flex; flex-wrap:wrap;">
      <% for( var i=0;i< items.length;i++){ %>
      <div class="col-md-3 col-sm-6 col-lg-3">
        <%=items[i][0]%> <%=items[i][1]%>
      </div>
      <%}%>
  </div>
</div>
  </body>
</html>
