<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
</head>
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>

<body>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <div class="container">
    <header class="jumbotron">
      This is <%=shop%>
    </header>
    <input type="Button" value="Delete Shop" id="deleteShop" />

      <input type="hidden" name="name" value=<%=name%> id="name" />
      <input type="hidden" name="phone" value=<%=phone%> id="phone" />
      <input type="hidden" name="shop" value=<%=shop%>  id="shop" />
      <input type="text" name="itemName" placeholder="Enter The Ttem to add" id="itemName" /><br>
      <input type="number" name="price" placeholder="Enter the price" id="price" />
      <input type="Submit" value="Add Item" id="addItem" />

    <div class="row" style="display:flex; flex-wrap:wrap;">
      <% for( var i=0;i< items.length;i++){ %>
      <div class="col-md-3 col-sm-6 col-lg-3">
        <%=items[i][0]%> <%=items[i][1]%>
      </div>
      <%}%>
  </div>
</div>
<script>
  $(document).ready(function(){
  $("#addItem").click(function(){
    console.log("clicked");
    $.ajax({
      type:"POST",
      url:"/addItem",
      data:{name:$("#name").val(),phone:$("#phone").val(),shop:$("#shop").val(),itemName:$("#itemName").val(),price:$("#price").val()},
      success:function(data){                      
            },
      error: function(jqXHR, textStatus, err) {
            alert('text status1'+textStatus+', err '+err)
            }
    });
  });
  $("#deleteShop").click(function(){
    $.ajax({
      type:"POST",
      url:"/deleteShop",
      data:{name:$("#name").val(),phone:$("#phone").val(),shop:$("#shop").val()},
      success:function(data){                      
            },
      error: function(jqXHR, textStatus, err) {
            alert('text status1'+textStatus+', err '+err)
            }
    });
  });
});
</script>
  </body>
</html>
